@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');
h1{text-align: center; margin-top: 20%;
  text-shadow: 1px 1px #4278ff;
}
h2{text-align: center; 
}
p{ text-align: center; margin-top: 1%;
}
p{
margin-left: 35%;
margin-right: 35%;
margin-top: 0.5cm;
text-shadow: 1px 1px #92aff8;
}
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');
h1{color:#ffffff;
    }
h2{color: #92aff8; 
text-shadow:1px 1px rgb(118, 121, 121);    
}
 p{color: #ffffff;}
p{ font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 1px 1px #92aff8;
  text-decoration: none;
}
a {
  text-decoration: none;
}
a:hover{
  transition-duration: 0.4s;
      opacity: 0.6;
}


@media (max-width: 600px) {
  
  
}